.about_container {
    padding: 0 26px;
    max-width: 500px;
    margin: 70px auto 0 auto;

    h2 {
        color: $chocolate-color;
        margin: 25px 0 20px 0;
    }

    a:active {
        color: $link-clicked;
    }

    .about_text_container {
        position: relative;
        z-index: 2;
    }

    .ice_cream_container {
        position: relative;
        z-index: 1;
        width: fit-content;
        margin: auto;
        margin-top: -80px;

        .ice_cream_SVG {
            transform: rotate(15.283deg);
            transform-origin: 50% 20%;
        }
    }
}
