body {
    background-color: $lemon-color;
    max-height: 100%;
    position: relative;
}

.wave_container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;

    .wave_background {
        width: 100%;
        height: 95px;
    
    }

    .wave_background_light {
        position: absolute;
        bottom: 24px;
        left: 0;
        @include backgroundurl (url(/img/animations/wavesGlory.svg), cover, no-repeat, center center);
        opacity: 50%;
        z-index: 1;
    }
    
    .wave_background_dark {
        @include backgroundurl (url(/img/animations/wavesGlory.svg), cover, no-repeat, center center);
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}