.contact_container {
    .contact_us_container {
        padding: 0 26px;

        .container_title {
            color: $chocolate-color;
            margin: 25px 0 20px 0;
        }

        .input_title {
            margin: 0 0 5px 0;
            color: $chocolate-color;

            .request_section {
                color: $red-color;
            }
        }

        .input_container {
            padding: 0 0 0 6px;

            .contact_us_input {
                @include inputField(
                    default,
                    default,
                    0 0 0 0,
                    default,
                    default,
                    default
                );
                height: 31px;
                width: 131px;
            }

            .bigger_input {
                width: 163.81px;
            }

            .input_message {
                color: $red-color;
                min-height: 1.2rem;
                margin: 0 0 5px 0;
            }
        }

        .contact_us_textarea {
            @include inputField(
                default,
                default,
                0 0 0 6px,
                default,
                default,
                default
            );
            white-space: pre-wrap;
            word-wrap: break-word;
            resize: none;
            width: 100%;
            max-width: 435px;
        }

        .buttons_container {
            display: flex;
            flex-direction: row;
            margin: 20px 0 20px 6px;
            max-width: 435px;

            .primary_button {
                @include buttonReset(
                    $buttonPrimary-default,
                    default,
                    0 0 0 10px,
                    default,
                    2rem,
                    $button-text
                );
                @include boxShadow(button, 0, 0, 0, 0, 0);
                flex: 1;

                &:active {
                    background-color: $buttonPrimary-clicked;
                }
            }

            .secondary_button {
                @include buttonReset(
                    $buttonSecondary-default,
                    default,
                    0 0 0 6px,
                    default,
                    2rem,
                    $buttonSecondary-text
                );
                @include boxShadow(button, 0, 0, 0, 0, 0);
                flex: 1;

                &:active {
                    background-color: $buttonSecondary-clicked;
                }
            }
        }
    }

    .news_letter_container {
        margin: 70px 0 50px 0;
        padding: 0 26px;

        .news_letter_title {
            color: $chocolate-color;
            margin: 25px 0 20px 0;
        }

        .news_letter_input_title {
            margin: 0 0 10px 6px;
            color: $chocolate-color;

            .request_section {
                color: $red-color;
            }
        }

        .news_letter_input_container {
            margin-bottom: 20px;

            input {
                @include inputField(
                    default,
                    default,
                    0 0 0 6px,
                    default,
                    default,
                    default
                );
                height: 31px;
                width: 163px;
            }
        }

        .news_letter_btn {
            @include buttonReset(
                $buttonPrimary-default,
                default,
                0 0 0 10px,
                default,
                2rem,
                $button-text
            );
            @include boxShadow(button, 0, 0, 0, 0, 0);

            &:active {
                background-color: $buttonPrimary-clicked;
            }
        }
    }
}
