.cookies_bar {
    position: fixed;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    padding: 0 10px;
    background-color: $orange_color;
    @include centerPosition(center, center);
    flex-direction: row;
    z-index: 3;

    .cookies_text {
        color: $chocolate-color;
        margin: 10px;

        .hidden_on_mobile {
            display: none;
        }
    }

    .cookies_btn {
        margin: 0 0 0 10px;
        @include buttonReset(
            $buttonPrimary-default,
            default,
            0 0 0 10px,
            default,
            2rem,
            $button-text
        );

        &:active {
            background-color: $buttonPrimary-clicked;
        }
    }
}
.cookies_bar_accepted {
    bottom: -100%;
    transition: bottom 0.5s;
}
