$orange-color: #FFCB85;
$chocolate-color: #6B3E26;
$strawberry-color: #FFC5D9;
$mint-color: #C2F2D0;
$lemon-color: #FDF5C9;

$white-color: #fff;
$red-color: #DB5108;

$menuButton-default: #6B3E26;
$menuButton-hover: #6b3e26b3;
$menuButton-clicked: #783E52;

$buttonPrimary-default:#6B3E26;
$buttonPrimary-hover:#3D2113;
$buttonPrimary-clicked:#251B15;
$buttonPrimary-disabled:#454545;

$buttonSecondary-default:#FFC5D9;
$buttonSecondary-hover:#FF92B8;
$buttonSecondary-clicked:#FF4887;
$buttonSecondary-disabled:#454545;

$link-default:#FFC5D9;
$link-hover:#FF92B8;
$link-clicked:#FF4887;
$link-disabled:#A7A4A4;

$button-text: #fff;
$button-text-disabled: #A7A4A4;