$orange-color: #ffcb85;
$chocolate-color: #6b3e26;
$strawberry-color: #ffc5d9;
$mint-color: #c2f2d0;
$lemon-color: #fdf5c9;

$white-color: #fff;
$red-color: #db5108;

$menuButton-default: #6b3e26;
$menuButton-hover: #6b3e26b3;
$menuButton-clicked: #783e52;

$buttonPrimary-default: #6b3e26;
$buttonPrimary-hover: #3d2113;
$buttonPrimary-clicked: #251b15;
$buttonPrimary-disabled: #454545;

$buttonSecondary-default: #ffc5d9;
$buttonSecondary-hover: #ff92b8;
$buttonSecondary-clicked: #ff4887;
$buttonSecondary-disabled: #454545;

$link-default: #ffc5d9;
$link-hover: #ff92b8;
$link-clicked: #ff4887;
$link-disabled: #a7a4a4;

$button-text: #fff;
$button-text-disabled: #a7a4a4;
