h1 {
    font-size: 6.25rem;
}

h2 {
    font-size: 4.375rem;
}

h3 {
    font-size: 3.125rem;
}

h4,
h5 {
    font-size: 1.563rem;
}

p {
    font-size: 1.653rem;
    line-height: 37px;
    letter-spacing: 1.25px;
    margin-bottom: 45px;
}

a {
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 37px;
}

.button_text {
    font-size: 1.563rem;
}

.placeholder_text {
    font-size: 1rem;
}

.footer_text {
    font-size: 1.25rem;
    line-height: 0.813rem;
}

body {
    @include gridCreation(column, 12, 1fr, 20px);
}

main {
    grid-column: span 12;
}

footer {
    grid-column: span 12;
    padding: 15px 80px;
    margin: auto;
    max-width: 1750px;
}
