h1 {
    font-size: 6.25rem;
}

h2 {
    font-size: 4.375rem;
}

h3 {
    font-size: 3.125rem;
}

h4,
h5 {
    font-size: 1.563rem;
}

p {
    font-size: 1.653rem;
    line-height: 37px;
    letter-spacing: 1.25px;
    margin-bottom: 45px;
}

a {
    font-size: 1.563rem;
    font-weight: 700;
    line-height: 37px;
}

.button_text {
    font-size: 1.563rem;
}

.placeholder_text {
    font-size: 1rem;
}

.footer_text {
    font-size: 1.25rem;
    line-height: 0.813rem;
}

body {
    @include gridCreation(column, 12, 1fr, 20px);
}

main {
    grid-column: span 12;
    max-width: 1750px;
    margin: auto;
}

.header_container {
    grid-column: span 12;
    height: 179px;

    .nav_container {
        column-gap: 33px;
    }
}

.contact_container {
    @include gridCreation(column, 12, 1fr, 20px);
    max-width: 1130px;
    margin: 40px auto;

    .contact_us_container {
        grid-column: 1 / span 6;

        .container_title {
            margin: 0 0 15px 0;
        }
    }

    .news_letter_container {
        grid-column: 8 / span 6;
        margin: 40px 0 0 0;

        .news_letter_title {
            margin: 0;
        }
    }
}
