h1 {
    font-size: 6.25rem;
}

h2 {
    font-size: 4.375rem;
}

h3 {
    font-size: 3.125rem;
}

h4,
h5 {
    font-size: 1.563rem;
}

p {
    font-size: 1.653rem;
    line-height: 37px;
    letter-spacing: 1.25px;
    margin-bottom: 45px;
}

a {
    font-size: 1.563rem;
    line-height: 37px;
}

.button_text {
    font-size: 1.563rem;
}

.placeholder_text {
    font-size: 1rem;
}

.footer_text {
    font-size: 1.25rem;
    line-height: 0.813rem;
}

body {
    @include gridCreation(column, 12, 1fr, 20px);
}

main {
    grid-column: span 12;
    max-width: 1750px;
    margin: auto;
}

.header_container {
    grid-column: span 12;
    height: 179px;

    .nav_container {
        column-gap: 33px;
    }
}
.product_container {
    @include gridCreation(column, 4, 1fr, 10px);
    grid-row-gap: 50px;
    margin: 135px 70px 135px 70px;

    .product_card:nth-child(3) {
        order: 0;
    }

    .product_card:nth-child(6) {
        order: 0;
    }

    .product_card:nth-child(9) {
        order: 0;
        grid-column: inherit;
    }

    .product_card:nth-child(n + 5):nth-child(-n + 7) {
        order: 1;
    }
}

.about_container {
    justify-content: flex-start;

    .about_title {
        text-align: left;
    }

    .ice_cream_container {
        margin-left: 10vw;
        transform: scale(3.7) translateY(-30px);
    }

    .about_text_container {
        max-width: 685px;
    }
}

.contact_container {
    @include gridCreation(column, 12, 1fr, 20px);
    margin: 70px auto;
    padding: 0 55px;
    max-width: 1750px;

    .contact_us_container {
        grid-column: 1 / span 6;
        margin-left: 40px;

        .container_title {
            margin: 0 0 15px 0;
        }

        .input_container {
            padding-left: 10px;

            .contact_us_input {
                height: 40px;
            }
        }

        .contact_us_textarea {
            margin-left: 10px;
        }

        .buttons_container {
            margin-left: 10px;
        }
    }

    .news_letter_container {
        grid-column: 7 / span 6;

        .news_letter_title {
            margin: 0 0 40px 0;
        }

        .news_letter_input_container {
            input {
                height: 40px;
            }
        }

        .news_letter_btn {
            margin-left: 5px;
        }
    }
}

footer {
    grid-column: span 12;
    padding: 15px 80px;
    margin: auto;
    max-width: 1150px;
}
