h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.375rem;
}

h3 {
    font-size: 3.125rem;
}

.button_text,
h4 {
    font-size: 1.536rem;
}

.placeholder_text {
    font-size: 1rem;
}

.cookies_text,
.footer_text,
h5 {
    font-size: 1.25rem;
}

.footer_text {
    line-height: 13px;
    margin-bottom: 8px;
}

p,
span,
a {
    font-size: 1.563rem;
    line-height: 37px;
}

p {
    margin-bottom: 45px;
    letter-spacing: 0.8px;
}

body {
    @include gridCreation(column, 4, 1fr, 20px);
}

.header_container {
    grid-column: span 4;
    height: 145px;
    border-radius: 60px;
    margin: 0 85px;
}

.product_container {
    @include gridCreation(column, 2, 1fr, 20px);
    margin-top: 135px;

    .product_card {
        .description_plate,
        .description_plate_big {
            .product_title,
            .product_title_big {
                font-size: 1.563rem;
            }
        }
    }

    .product_card_circle,
    .product_card_circle_big {
        row-gap: 17px;

        .product_img,
        .product_img_big {
            height: 272px;
            width: 272px;
        }

        .description_plate,
        .description_plate_big {
            .product_title,
            .product_title_big {
                font-size: 1.563rem;
            }
        }
    }

    .product_card_square,
    .product_card_square_big {
        row-gap: 22px;

        .product_img,
        .product_img_big {
            height: 250px;
            width: 250px;
        }
    }

    .product_card_big {
        margin-bottom: 22px;

        .product_img_big {
            height: calc(1.6 * 272px);
            width: calc(1.6 * 272px);
        }

        .description_plate_big {
            .product_title_big {
                font-size: 3.125rem;
            }
            .ingredients {
                font-size: 1.125rem;
            }
        }
    }

    .product_card_circle_big {
        .product_img_big {
            border: 20px solid $orange-color;
        }
    }

    .product_card_square_big {
        .product_img_big {
            border: 20px solid $strawberry-color;
        }
    }
}

.about_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 81px;
    margin-right: 81px;
    align-items: center;
    column-gap: 50px;
    justify-content: space-around;

    .about_title {
        text-align: center;
        width: 100%;
    }
    .about_text_container {
        max-width: 490px;
    }
    .ice_cream_container {
        max-width: 219px;
        margin: 0;
        transform: scale(3) translateY(-30px);

        .ice_cream_SVG {
            transform: rotate(15.283deg);
        }
    }
}

.contact_container {
    @include gridCreation(column, 4, 1fr, 20px);

    .contact_us_container {
        margin: 0 10px;
        padding: 0;
        grid-column: 2 / 4;

        .container_title {
            margin: 35px 0 20px 0;
        }
        .input_container {
            .input_title {
                margin-bottom: 0;
            }
            .contact_us_input {
                width: 210px;
            }
            .bigger_input {
                width: 260px;
            }
        }

        .buttons_container {
            .primary_button,
            .secondary_button {
                flex: 0;
            }
        }
    }
    .news_letter_container {
        margin: 5px 10px 200px 10px;
        padding: 0;
        grid-column: 2 / 4;

        .news_letter_title {
            line-height: 70px;
        }
        .news_letter_input_container {
            #newsLetterEmailInput {
                width: 300px;
            }
        }
    }
}

.cookies_bar {
    padding: 20px 30px;

    .cookies_text {
        max-width: 900px;

        .hidden_on_mobile {
            margin: 0;
            display: inline;
        }
    }
}

footer {
    grid-column: span 4;
    min-height: 162px;
    padding: 15px 30px;

    .footer_contact_container {
        margin-left: 15px;
        width: 60%;

        h4 {
            margin: 15px 0 15px 0;
        }
        .footer_info_container {
            flex-direction: row;

            .footer_address {
                margin-right: 40px;
            }

            .footer_text {
                margin-bottom: 5px;
                line-height: 19px;
            }
        }
    }

    .footer_icon_container {
        width: 40%;
    }

    .footer_icon_container {
        margin-bottom: 10px;

        figure {
            width: 98px;
            margin: 0 30px 0 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}

.background {
    .waves_mobile {
        display: none;
    }

    .pink_circle,
    .orange_circle {
        transform: scale(3);
    }

    .pink_circle {
        left: 0;
    }
    .orange_circle {
        right: 0;
    }

    .waves_tablet {
        display: block;

        &.wave_background_dark {
            bottom: -150px;
            max-height: 389px;
        }

        &.wave_background_light {
            bottom: -67px;
            max-height: 407px;
        }
    }
}
