h1 {
    font-size: 4.3rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.button_text,
h4 {
    font-size: 1rem;
}

.placeholder_text {
    font-size: 1rem;
}

.cookies_text,
.footer_text,
h5 {
    font-size: 1rem;
}

.footer_text {
    line-height: 13px;
    margin-bottom: 8px;
}

p,
span,
a {
    font-size: 1.563rem;
    line-height: 37px;
}

p {
    margin-bottom: 45px;
    letter-spacing: 0.8px;
}

body {
    @include gridCreation(column, 8, 1fr, 20px);
}

main {
    grid-column: span 8;
}

.header_container {
    grid-column: 3 / span 4;
    height: 145px;
    border-radius: 60px;
}
