h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4.375rem;
}

h3 {
    font-size: 3.125rem;
}

.button_text,
h4 {
    font-size: 1.536rem;
}

.placeholder_text {
    font-size: 1rem;
}

.cookies_text,
.footer_text,
h5 {
    font-size: 1.25rem;
}

.footer_text {
    line-height: 13px;
    margin-bottom: 8px;
}

p,
span,
a {
    font-size: 1.563rem;
    line-height: 37px;
}

p {
    margin-bottom: 45px;
    letter-spacing: 0.8px;
}

body {
    @include gridCreation(column, 4, 1fr, 20px);
}

main {
    grid-column: span 4;
}

.header_container {
    grid-column: span 4;
    height: 145px;
    border-radius: 60px;
    margin: 0 85px;
}

.contact_container {
    @include gridCreation(column, 4, 1fr, 20px);
    .contact_us_container {
        margin: 0 10px;
        padding: 0;
        grid-column: 2 / 4;

        .container_title {
            margin: 35px 0 20px 0;
        }
        .input_container {
            .input_title {
                margin-bottom: 0;
            }
            .contact_us_input {
                width: 210px;
            }
            .bigger_input {
                width: 260px;
            }
        }

        .buttons_container {
            .primary_button,
            .secondary_button {
                flex: 0;
            }
        }
    }
    .news_letter_container {
        margin: 5px 10px 200px 10px;
        padding: 0;
        grid-column: 2 / 4;
        .news_letter_title {
            line-height: 70px;
        }
        .news_letter_input_container {
            #newsLetterEmailInput {
                width: 300px;
            }
        }
    }
}
